* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FBF2EF;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #FBF2EF;
    font-family: 'Josefin Sans', sans-serif;
  }

  header {

  }

  header img {
    width: 110px;
    margin: 25px 0 25px 25px;
  }

  img {
    width: 100%;
  }

  .main {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  h1 {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .header1 {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
  }

  .header2 {
    color: #404040;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    text-align: center;
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    word-spacing: 4px;
    line-height: 1.6;
  }
}
